<!-- post list -->
{{ range $index, $element := $.Paginator.Pages }}
<div class="post-preview">

    <a href="{{ .Permalink }}">
        {{ $summary := .Summary}}
        {{$readtime := math.Round (div ( countwords $summary) 220.0)}}

        {{/* Declare a new string variable, $linkToCover */}}
        {{ $linkToCover := "" }}

        {{/* Use the value from front matter if present */}}
            {{ if .Params.featured_image }}
        {{ $linkToCover = .Params.featured_image }}

        {{/* Find the first image with 'cover' in the name in this page bundle. */}}
        {{ else }}
            {{ $img := (.Resources.ByType "image").GetMatch "*cover*" }}
            {{ with $img }}
                {{ $linkToCover = .Permalink }}
            {{ end }}
        {{ end }}

        <h2 class="post-title">
            {{ .Title }}
        </h2>
        {{with .Params.subtitle }}
            <p class="post-subtitle" >{{ . }}&nbsp;&nbsp;<i class="fas fa-clock"></i>&nbsp;{{ math.Round (div ( countwords $summary) 220.0) }} min read</p>
        {{ end }}
        <!--<img class="" src="/images/avatar.jpg" width="250px">-->

        <!--
        <div class="post-meta">
	    {{ with .Description }}
            {{ . }}
        {{ else }}
            {{truncate 300 $summary}}
       {{ end }}
        </div>
        -->


        <div class="row">
            {{ if $linkToCover }}
            <div class="col-lg-4">
                <img class="img-responsive pull-right" src="{{$linkToCover}}" width="250px">
            </div>
            {{ end }}
            <div class="text-left col-lg-8">
                <div class="post-meta" >
                    {{ with .Description }}
                    {{ . }}
                    {{ else }}
                    {{truncate 300 $summary}}
                    {{ end }}
                </div>
            </div>
        </div>



    </a>

    <p class="post-subtitle">
        <i class="fas fa-user"></i>
            {{ with .Params.author }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }} &nbsp;
        <i class="fas fa-calendar"></i>
            {{ .Date.Format "January 2, 2006" }}
    <!-- Don't show "Last Modified on" if update happened on the same day. -->
    {{ if (and (not .Lastmod.IsZero) (not (eq (dateFormat "2006-01-02" .Lastmod) (dateFormat "2006-01-02" .Date)))) }}
    <br>Last Modified on {{ dateFormat "January 2, 2006" .Params.LastMod }}
    {{ end }}
    </p>

    <a href="{{ .Permalink }}" class="btn btn-default btn-lg active btn-sm" role="button">READ MORE</a>


</div>





<hr>

{{ end }}
